<!DOCTYPE html>
<html lang="en"    
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main_layout.html}">

<head>
    <title>NewsWatch - Change Information</title>
    <link th:href="@{/css/admin_infomation/style.css}" rel="stylesheet">
</head>

<body class="body-page">
    <div class="home-body m-4" layout:fragment="content">
        <!-- Main Content -->
        <div class="content p-4">
            <h2 class="title-page">Change Information</h2>
            <!-- Form -->
            <form>
                <div class="d-flex justify-content-between">
                    <!-- Avatar -->
                    <div class="d-flex align-items-center mb-4">
                        <div class="avatar">
                            <img src="../../images/image_login.png" alt="Avatar" class="rounded-circle">
                            <label class="avatar-upload">
                                <i class="fas fa-camera"></i>
                                <input type="file" hidden>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info-save">Save</button>
                    </div>
                </div>

                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Birthday</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Phone</label>
                        <input type="tel" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>