<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main_layout.html}">


<head>
    <title>NewsWatch - Account Management</title>
    <link th:href="@{/css/account_manegemnet/style.css}" rel="stylesheet">
</head>

<body class="body-page">
    <!-- Main Content -->
    <div class="home-body m-4" layout:fragment="content">
        <div class="content">
            <h2 class="title-page mb-4">Account Management</h2>
            <div class="employee-account">
                <div class="title-page mb-2 d-flex justify-content-between">
                    <h5 class="fw-bold">Employee Account</h5>
                    <a href="/account_management/add_account" class="btn btn-add-view d-flex align-items-center"><i
                            class="fa-solid fa-circle-plus me-2"></i>New Employee Account</a>
                </div>
                <!--  -->
                <table id="EmployeeTable" class="table table-hover pt-3">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                                <!-- <button class="btn text-success p-0"><i class="fa-regular fa-eye"></i></button>
                                <button class="btn text-danger p-0"><i class='bx bx-trash'></i></button> -->
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
            <div class="user-account">
                <h5 class="title-page mb-2 fw-bold">User Account</h5>
                <table id="UserTable" class="table table-hover pt-3">
                    <thead class="table-light">
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Date Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Username1</td>
                            <td>Tran Van A</td>
                            <td>A@gmail.com</td>
                            <td>March 25, 2025</td>
                            <td>
                                <a href="/account_management/edit_account" class="btn text-success p-0"><i
                                        class='fa-regular fa-eye'></i></a>
                                <a href="#" class="btn text-danger p-0"><i class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<!-- Khởi tạo DataTable -->
<div layout:fragment="script" th:inline="none">
    <script>
        $(document).ready(function () {
            $('#EmployeeTable').DataTable({
                "paging": true,       // Bật phân trang
                "searching": true,    // Bật tìm kiếm
                "ordering": true,     // Cho phép sắp xếp cột
                "info": true,         // Hiển thị số lượng dữ liệu
                "lengthChange": false, //Bỏ thằng hiển thị số lượng dữ liêu
                "dom": "ftip", // Chỉ hiển thị search (f), bảng (t), phân trang (p), và info (i)
                "columnDefs": [
                    { "orderable": false, "targets": [1, 2, 3, 5] } // Không sắp xếp cột
                ],
                "order": [[0, "asc"]], // Mặc định sắp xếp cột ID tăng dần
            });
        });

        $(document).ready(function () {
            $('#UserTable').DataTable({
                "paging": true,       // Bật phân trang
                "searching": true,    // Bật tìm kiếm
                "ordering": true,     // Cho phép sắp xếp cột
                "info": true,         // Hiển thị số lượng dữ liệu
                "lengthChange": false,
                "dom": "ftip", // Chỉ hiển thị search (f), bảng (t), phân trang (p), và info (i)
                "columnDefs": [
                    { "orderable": false, "targets": [1, 2, 3, 5] } // Không sắp xếp cột
                ],
                "order": [[0, "asc"]], // Mặc định sắp xếp cột ID tăng dần
            });
        });
    </script>
</div>

</html>